:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --grayish-blue-light: hsla(233, 13%, 49%, 0.25);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --soft-blue: hsl(237, 63%, 64%);
  --primary-gradient: linear-gradient(
    135deg,
    hsl(236, 72%, 79%) 0%,
    var(--soft-blue) 100%
  );
  --white: hsl(0, 0%, 100%);
  --white-light: hsl(0, 0%, 100%, 0.25);
  --primary-transition: 200ms ease-in-out;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat Bold"), local("Montserrat-Bold"),
    url("/fonts/Montserrat-Bold.woff2") format("woff2");
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  background-repeat: no-repeat;
  padding: 0;
}

:focus {
  outline: 0.1875rem solid var(--soft-blue);
  outline-offset: 0.3125rem;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  background-color: var(--very-light-grayish-blue);
  color: var(--dark-grayish-blue);
  background-image: url("/svg/bg-top.svg"), url("/svg/bg-bottom.svg");
  background-position: top right, bottom left;
  padding-top: 4.4375rem;
  padding-bottom: 4.4375rem;
}

input,
button {
  font: inherit;
}

fieldset {
  border: 0;
  white-space: nowrap;
}

button[type] {
  cursor: pointer;
}

ul {
  list-style: none;
}

[hidden] {
  display: none !important;
}

.display\:block {
  display: block;
}

.pricing {
  max-width: 68.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.pricing__title {
  text-align: center;
  font-size: 2rem;
}

.pricing__container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
@media screen and (min-width: 63.125rem) {
  .pricing__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.toggle-pricing {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 15rem;
}

.toggle-pricing__legend {
  margin-bottom: 2.5rem;
  text-align: center;
}

.toggle-pricing__label {
  cursor: pointer;
}
@media (hover: none) {
  .toggle-pricing__label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .toggle-pricing__label:active {
    outline: 0.01rem solid;
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .toggle-pricing__label:hover {
    outline: 0.01rem solid;
  }
}

.toggle-pricing__wrapper {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
  vertical-align: middle;
  border-radius: 2em;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.toggle-pricing__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-image: var(--primary-gradient);
}

.toggle-pricing__circle {
  position: absolute;
  top: 0.25rem;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--white);
}
@media (prefers-reduced-motion: no-preference) {
  .toggle-pricing__circle {
    transition: left var(--primary-transition);
  }
}

.toggle-pricing__radio {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  height: 100%;
  margin-right: -3px;
  opacity: 0;
  z-index: 1;
  position: relative;
}

.toggle-pricing__radio:focus ~ .toggle-pricing__background {
  outline: 0.3rem solid var(--soft-blue);
  outline-offset: 0.6rem;
}

.toggle-pricing__radio[id="annually"]:checked ~ .toggle-pricing__circle {
  left: 0.3125rem;
}

.card {
  text-align: center;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0 1.25rem 2.5rem rgba(212, 210, 244, 0.5);
  border-radius: 0.625rem;
  line-height: 1.86;
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.card + .card {
  margin-top: 2rem;
}
@media screen and (min-width: 63.125rem) {
  .card + .card {
    margin-top: 0;
  }
}

.card--highlight {
  padding-top: 3.4375rem;
  padding-bottom: 3.4375rem;
  background-image: var(--primary-gradient);
  color: var(--white);
}

.card__title {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.card__monthly-price,
.card__annually-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__price {
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: -0.02em;
}

.card__dollar-sign {
  font-size: 2.5rem;
}

.card__price-description {
  font-size: 0.9375rem;
  letter-spacing: initial;
}

.card__list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card__item {
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
}

.card__item {
  border-top: 0.0625rem solid var(--grayish-blue-light);
}

.card__item:last-child {
  border-bottom: 0.0625rem solid var(--grayish-blue-light);
}

.card--highlight .card__item {
  border-color: var(--white-light);
}

.button {
  display: block;
  text-decoration-color: transparent;
  padding: 0.875rem;
  border-radius: 0.375rem;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
}

.button--primary-gradient {
  background-image: var(--primary-gradient);
  color: var(--white);
  border: 0.0625rem solid hsl(237deg, 63%, 65%);
}
@media (hover: none) {
  .button--primary-gradient {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .button--primary-gradient:active {
    background-image: none;
    color: inherit;
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .button--primary-gradient:hover {
    background-image: none;
    color: inherit;
  }
}

.button--white:focus {
  outline-color: var(--white);
}

.button--white {
  background-color: var(--white);
  color: var(--soft-blue);
  border: 0.0625rem solid var(--white);
}
@media (hover: none) {
  .button--white {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .button--white:active {
    background-color: transparent;
    color: inherit;
  }
}
@media (-ms-high-contrast: none),
  (-ms-high-contrast: active),
  (-moz-touch-enabled: 0),
  (hover: hover) {
  .button--white:hover {
    background-color: transparent;
    color: inherit;
  }
}

.bonus__label,
.bonus__toggle {
  position: relative;
  top: 2rem;
  left: 33%;
  cursor: pointer;
}
@media screen and (min-width: 63.125rem) {
  .bonus__label,
  .bonus__toggle {
    left: 38%;
  }
}

.bonus__label::after {
  content: "Monthly";
  position: absolute;
  top: 0;
  right: -11rem;
}

.bonus__toggle {
  z-index: 1;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
  vertical-align: middle;
  border-radius: 2em;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.bonus__toggle::after,
.bonus__toggle::before {
  content: "";
  position: absolute;
}

.bonus__toggle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-image: var(--primary-gradient);
}

.bonus__toggle::before {
  top: 0.25rem;
  left: 0;
  transform: translateX(115%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--white);
  z-index: 2;
}
@media (prefers-reduced-motion: no-preference) {
  .bonus__toggle::before {
    transition: transform var(--primary-transition);
  }
}

.bonus__toggle:checked::before {
  transform: translateX(0.3125rem);
}

.bonus__wrapper {
  position: relative;
}

.bonus__annually-price {
  display: none;
}

.bonus__toggle:checked ~ .pricing__container .bonus__annually-price {
  display: flex;
}

.bonus__toggle:checked ~ .pricing__container .bonus__monthly-price {
  display: none;
}
