.bonus__title {
  margin-bottom: 2.5rem;
}

.bonus__annually-price {
  display: none;
}

.bonus:has(.toggle-pricing__radio--annually:checked) .bonus__annually-price {
  display: flex;
}

.bonus:has(.toggle-pricing__radio--annually:checked) .bonus__monthly-price {
  display: none;
}
