@use "../abstracts" as *;

.toggle-pricing {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: rem(240);
}

.toggle-pricing__legend {
  margin-bottom: rem(40);
  text-align: center;
}

.toggle-pricing__label {
  display: inline-block;
  position: relative;
  z-index: 2;
  cursor: pointer;
  line-height: 2;
}

.toggle-pricing__label--inline-start {
  padding-right: 5em;
}

.toggle-pricing__label--inline-end {
  margin-left: rem(-56);
  padding-left: 5em;
}

.toggle-pricing__label--inline-start::before,
.toggle-pricing__label--inline-start::after {
  position: absolute;
  vertical-align: middle;
  height: rem(32);
  overflow: hidden;
  content: "";
}

/* Wrapper */
.toggle-pricing__label--inline-start::after {
  margin: 0 rem(24);
  border-radius: 2em;
  background-image: var(--primary-gradient);
  width: rem(56);
}

/* Circle */
.toggle-pricing__label--inline-start::before {
  position: absolute;
  top: rem(4);
  right: -0.075em;
  transform: translateX(0);
  z-index: 2;
  border-radius: 50%;
  background-color: var(--white);
  width: rem(24);
  height: rem(24);

  @include prefers-motion {
    transition: transform var(--primary-transition);
  }
}

/* Visually hide the radio input */
.toggle-pricing__radio {
  position: absolute;
  opacity: 0;
}

.toggle-pricing__radio--annually:checked
  ~ .toggle-pricing__label--inline-start::before {
  transform: translateX(rem(-24));
}

.toggle-pricing__radio--monthly:checked ~ .toggle-pricing__label--inline-end {
  z-index: 1;
}

.toggle-pricing:focus-within .toggle-pricing__label--inline-start::after {
  box-shadow: 0 0 0 0.15rem var(--very-light-grayish-blue),
    0 0 0 0.3rem var(--soft-blue);
}
